header{
  width: 100%;
}
.sobre {
  margin-top: 25%;
  width: 600px;
  height: 250px;
  margin-left: 80px;
}
.sobre h1 {
  font-size: 45pt;
  margin: 5px;
}
.texto {
  text-align: center;
  width: 550px;
}
hr {
  width: 80px;
  margin-top: 30px;
}
.hr2 {
  width: 180px;
  margin-top: 20px;
  transition: 0.5s;
}
.texto p {
  font-size: 15pt;
  transition: 0.5s;
}
.btn {
  display: inline-block;
  padding: 15px 70px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: solid 2px #fff;
  transition: all 0.55s ease;
  color: #fff;
  margin-top: 40px;
  margin-left: 25%;
}
.btnclq {
  background-color: #fff;
  color: #000;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
#contato {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-top: 15px;
  opacity: 0;
}
#contato a {
  margin: 5px;
  transition: 0.8s;
}
#contato i {
  font-size: 25px;
  margin: 5px;
  /* display: none; */

}
#contato i:hover {
  font-size: 30px;
  transition: 0.3s;
  opacity: 50%;
  color: aqua;
  transition: all 0.5s;
}

.fotos img {
  width: 100px;
  height: 100px;
  margin: 5px;
  margin-top: 15px;
  border-radius: 50%;
  transition: 0.5s;
  margin-right: 20px;
}
.fotos {
  display: flex;
}
.fotos img:hover {
  color: #fff;
  opacity: 55%;
  cursor: pointer;
  border: 1px solid aqua;
  padding: 1px;
  transition: 0.5s;
}
.fotosQFP {
  color: #fff;
  opacity: 55%;
  border: 1px solid aqua;
  padding: 1px;
}

.sobre,
.fotos {
  display: inline-block;
}
.texto-sobre,
.formacaotxt {
  display: none;
}


.box {
  width: 850px;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-left: 780px;
  margin-top: -480px;
  padding: 1px;
  display: flex;
  opacity: 0;
  flex-wrap: wrap;
    display: grid;
  grid-template-columns: 300px 100px;

}
.box-projeto {
  width: 250px;
  height: 250px;
  background-color: #fff;
  border-radius: 15%;
  margin: 5px;

}
.box-projeto p {
  color: #000;
  text-align: center;
}
